* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#19f3d6, #06ffde);
  background-repeat: no-repeat;
  /* overflow: hidden;   */
}

.dashboard {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  position: relative;
  background: white;
  border-radius: 5px;
}

.header-title {
  margin: 0 auto;
  text-align: center;
  background: #8590cc;
  font-family: "Oswald", sans-serif;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 10%;
}

.header-title span {
  font-size: 1.9rem;
  color: white;
  text-transform: uppercase;
}

.dashboard__main {
  height: 40%;
  width: 100%;
  display: flex;
}

.dashboard__user {
  width: 30%;
  position: relative;
  text-align: center;
  background: #ebebeb;
}

.profile {
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  text-align: center;
}

.image {
  height: 80px;
  width: 80px;
  margin: 0;
  background: url(https://cdn-s3.si.com/s3fs-public/styles/marquee_large_2x/public/2017/06/05/cristiano-ronaldo-fifa-18-cover.jpg?itok=BFj1RWba) #ff9966;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  vertical-align: middle;
}

.username {
  font-family: "Oswald", sans-serif;
  font-size: 1.9rem;
  display: block;
  margin: 2px 0;
}

.dashboard__content {
  width: 70%;
  background: #ebebeb;
  overflow-y: scroll;
}

.objective__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  margin-top: 8px;
  margin-right: 8px;
  grid-template-areas:
    "heading-primary heading-secondary"
    "primary-wrapper secondary-wrapper";
}

.objective__heading-primary {
  grid-area: heading-primary;
}

.objective__heading-secondary {
  grid-area: heading-secondary;
}

.objective-primary-wrapper {
  grid-area: primary-wrapper;
}

.objective-secondary-wrapper {
  grid-area: secondary-wrapper;
}

.objective__heading-primary,
.objective__heading-secondary {
  padding-left: 10px;
  text-transform: uppercase;
  color: #191970;
  background: #deecff;
  text-align: center;
}

.objective-primary-wrapper,
.objective-secondary-wrapper {
  /* background: rgba(252, 252, 252, 0.384); */
  background: #f3f8ff;
}

.objective__content-primary,
.objective__content-secondary {
  font-weight: 100;
  font-size: 1rem;
  text-align: start;
  border-radius: 4px;
  padding: 5px 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.primary-desc,
.secondary-desc {
  display: inline-block;
}

.primary-desc-text,
.secondary-desc-text {
  display: block;
  text-transform: none;
}

.primary-target,
.secondary-target {
  align-self: end;
  display: inline-block;
  align-self: start;
}

.objective__content-secondary {
  font-weight: 100;
  color: black;
  grid-row-start: 2;
  font-size: 1rem;
}

.on-target {
  color: #a1dd70;
  text-transform: uppercase;
}

.below-target {
  text-transform: uppercase;
  color: rgb(243, 81, 41);
}

.dashboard__main_content {
  width: 100%;
  height: 50%;
  overflow-y: scroll;
}

.header-primary,
.header-secondary {
  position: sticky;
  top: 0;
  background: #fdf6f2;
}

.main__content-header {
  background: #fdf6f2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-primary,
.header-secondary {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  padding: 5px 10px;
}

.primary-content-wrapper {
  grid-row-start: 2;
  /* background: #000; */
}

.secondary-content-wrapper {
  grid-row: 2/2;
}

.primary-content-wrapper,
.secondary-content-wrapper {
  font-family: "Oswald", sans-serif;
}

.primary-card {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px;
  background: #f3f8ff;
}

.primary-card-title {
  margin: 0px;
  padding: 1px 5px;
  background: #8590cc;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: white;
}

.primary-card-content {
  padding: 10px 0 30px 5px;
}

@media screen and (max-width: 825px) {
  .objective__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
      "heading-primary"
      "primary-wrapper"
      "heading-secondary"
      "secondary-wrapper";
    margin: 0;
  }

  @media screen and (max-width: 660px) {
    .dashboard {
      height: auto;
      overflow-y: scroll;
      max-height: 90%;
      width: 90%;
    }

    .dashboard__user {
      display: none;
      width: 0;
    }

    .dashboard__content {
      width: 100%;
    }

    .dashboard__main_content {
      display: none;
      height: 0;
    }

    .dashboard__main {
      height: auto;
      margin: auto;
    }
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  width: px;
}

::-webkit-scrollbar-thumb {
  background: #252328;
  border-radius: 100px;
}